body {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
}

.light {
    --Background: hsl(0, 0%, 98%);
    --item-background: #fff;
    --gray-blue: hsl(236, 33%, 92%);
    --text-color3: hsl(233, 11%, 84%);
    --text-color2: hsl(236, 9%, 61%);
    --text-color: hsl(235, 19%, 35%);
    --border-color: #eee;
    --active: hsl(220, 98%, 61%);
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --hover-color: hsl(235, 19%, 35%);
    --footer-color: hsl(234, 11%, 52%);
    --item-color: hsl(236, 9%, 61%);
    --filter-status-color: hsl(233, 11%, 84%);
    --filter-status-hover-color: hsl(236, 9%, 61%);
}

.dark {
    --Background: hsl(235, 21%, 11%);
    --item-background: hsl(235, 24%, 19%);
    --hover-color: hsl(234, 38%, 89%);
    --text-color: hsl(233, 31%, 79%);
    --gray-blue: hsl(234, 11%, 52%);
    --text-color2: hsl(233, 14%, 35%);
    --text-color3: hsl(237, 14%, 26%);
    --border-color: hsl(233, 14%, 35%);
    --active: hsl(220, 98%, 61%);
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --footer-color: hsl(236, 9%, 61%);
    --item-color: rgb(190, 190, 190);
    --filter-status-color: hsl(233, 11%, 84%);
    --filter-status-hover-color: hsl(0, 0%, 98%);
}

.text-center {
    text-align: center;
}

.text-through {
    text-decoration: line-through;
}

.full-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    z-index: -1;
    background-color: var(--Background);
    transition: background-color 300ms ease-in-out 0s;
}

.insert-wrapper {
    background-color: var(--item-background);
    transition: background-color 300ms ease-in-out 0s;
    border-radius: 5px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 65px;
}

.insert-wrapper span {
    width: 18px;
    min-width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
    border: 1px solid var(--text-color2);
}

.insert-todo {
    background-color: transparent;
    outline: 0px;
    padding-top: 6px;
    width: 100%;
    border: 0px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
}

.header-img {
    width: 100%;
    height: auto;
    min-height: 300px;
    background-image: url(./images/bg-desktop-light.jpg);
    background-size: cover;
}

.header-img.dark-header {
    background-image: url(./images/bg-desktop-dark.jpg) !important;
}

@media (max-width: 600px) {
    .header-img {
        background-image: url(./images/bg-mobile-light.jpg) !important;
    }
    .header-img.dark-header {
        background-image: url(./images/bg-mobile-dark.jpg) !important;
    }
}

.toggle-theme {
    width: 26px;
    height: 26px;
}

.main-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    top: 120px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header h1 {
    color: white;
    letter-spacing: 10px;
}

.App.dark {
    background: hsl(235, 21%, 11%) !important;
}

.todo-item-list {
    margin-top: 20px;
    box-shadow: var(--box-shadow);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.todo-items .dl-item:first-child .todo-item {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.todo-item {
    align-items: center;
    justify-content: space-between;
    background-color: var(--item-background);
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    -webkit-box-align: center;
    height: 65px;
    color: var(--item-color);
    transition: background-color, color 300ms ease-in-out 0s;
    cursor: grab;
}

.todo-item .todo-description {
    display: flex;
    align-items: center;
}

.todo-item .todo-description:hover {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.todo-item .todo-description .todo-status {
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todo-item .todo-description .todo-status.incompleted {
    background: var(--gray-blue) !important;
}

.todo-item .todo-description .todo-status.incompleted::before {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 50%;
    background: #fff;
    display: block;
    content: '';
}

.dark .todo-item .todo-description .todo-status.incompleted::before {
    background: hsl(235, 24%, 19%) !important;
}

.todo-item .todo-description .todo-status.incompleted:hover {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) !important;
}


/* .todo-item .todo-description .incompleted {
    width: 18px;
    min-width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
} */

.todo-item .cross {
    opacity: 0;
    transition: 0.2s ease-in all;
    cursor: pointer;
}

.todo-item:hover .cross {
    opacity: 1;
}

.todo-filter {
    background-color: var(--item-background);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 20px;
}

.filter-list {
    background-color: var(--item-background);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0 20px;
}

.filter-list-mobile {
    background-color: var(--item-background);
    height: 50px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0 20px;
    box-shadow: var(--box-shadow);
    display: none;
}

.todo-filter-status {
    color: var(--filter-status-color);
}

.todo-filter-status.active {
    cursor: pointer;
}

.todo-filter-status.active:hover {
    color: var(--filter-status-hover-color)
}

.todo-filter-item {
    cursor: pointer;
    color: var(--item-color);
    margin-left: 10px;
    margin-right: 10px;
}

.todo-filter-item.active {
    color: var(--active) !important;
}

.filter-list .todo-filter-item {
    cursor: pointer;
    color: var(--item-color);
}

.filter-list-mobile.active {
    color: var(--active) !important;
}

.filter-list-mobile .todo-filter-item {
    cursor: pointer;
    color: var(--item-color);
}

.filter-list.active {
    color: var(--active) !important;
}

.footer {
    margin-top: 50px;
    color: var(--footer-color);
    transition: color 300ms ease-in-out;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .filter-list {
        display: none !important;
    }
    .filter-list-mobile {
        display: flex !important;
    }
    .main-wrapper {
        max-width: 90%;
    }
    .cross {
        opacity: 1 !important;
    }
}